<header>
  <img src="../../assets/profilePic.png" id="profilePicture"/>
  <mat-card id="contactInformation">
    <h1 id="name">Matthew Davis</h1>
    <div id="leftPanel">
      <h3>BS in Computer Science</h3>
      <h3>Concordia University, Montreal QC</h3>
      <h3>Software Developer</h3>
    </div>
    <div id="rightPanel">
      <h3>514-705-5036</h3>
      <h3>ml.davis195@gmail.com</h3>
      <a href="https://github.com/ml-davis">https://github.com/ml-davis</a>
    </div>
  </mat-card>
</header>
