<mat-card class="card">
  <mat-card-content>
    <p>
      Writing software is more than a career for me. It is also a hobby, a passion, and a way of life. Everyday I work
      hard, striving to acquire new knowledge and improve my skills as a developer.
    </p>
    <p>
      I have been fascinated by technology since I was young. I have always loved playing video games, spending time
      on the internet, and working with anything digital. After high school, I worked many jobs. I had jumped between
      many blue collared positions and even spent three years in the infantry with the Canadian Forces. The entire time,
      I had been left feeling unfulfilled.
    </p>
    <p>
      After my three year contract with the army expired, I decided it was time for a change. I knew that I needed to
      pursue a career that I could be passionate about. I began programming and fell in love with it shortly after. The
      freedom to build and create whatever my mind desired was an exciting experience. Automating tedious tasks and
      building simple games became a hobby. The eureka moment that came when creating the perfect algorithm to solve a
      problem was so satisfying. Trying to create better, more flexible, and extensible code became an obsession of
      mine. I knew that I found what I wanted to do.
    </p>
    <p>
      Whether working on the job or at home, I am constantly striving to enhance my professional skills. To become an
      absolute master of the craft is a strong passion of mine and one that I will always relentlessly pursue.
    </p>
  </mat-card-content>
</mat-card>
