@media (max-width: 695px) {
  .images {
    margin-top: 40px;
  }
}

img {
  --dim: calc(19em);
  width: var(--dim);
  height: calc(var(--dim) - 7em);
  margin: 5px;
}

a {
  color: dodgerblue;
  text-decoration: none;
}

