<mat-card class="card">
  <mat-card-title>Morgan Stanley</mat-card-title>
  <mat-card-subtitle>2017 June - Present</mat-card-subtitle>
  <mat-card-content>
    <ul>
      <li>
        Wrote C++ to contribute to a high performance, low latency pricing engine for foreign
        exchange markets.
      </li>
      <li>
        Developed Python scripts to automate tasks and monitor performance of different
        processes throughout the firm.
      </li>
      <li>
        Discovered solutions in several areas to reduce latency and optimize programs.
      </li>
    </ul>
  </mat-card-content>
</mat-card>
